{
  "presets": [
    ["env", {
      targets:{
        uglify: true
      },
      modules: false,
      forceAllTransforms: true
    }]
  ],
  "plugins": [
    ["transform-runtime", {
      "helpers": false,
      "polyfill": false,
      "regenerator": true,
      "moduleName": "babel-runtime"
    }]
  ]
}